@use 'variables' as v;
@use 'mixin' as m;

header {
  position: relative;
  width: 100%;
  height: calc(100vh - #{v.$nav-height});
  @include m.bg-position(url(../assets/image/header.png));

  .header-content {
    position: absolute;
    @include m.center;
    color: v.$white;
    text-align: center;

    h1 {
      font: 400 33px v.$dancing-font;
      }

    h2 {
      font: 23px v.$dancing-font;
      }

    .header-motto,
    .header-text {
      display: inline-block;
      margin: 10px 0;
      }

    .header-motto {
      font: 400 48px v.$playfair-font;
      }

    .header-text {
      font: 16px v.$raleway-font;
      }
    }
  }

@media (max-width: 768px) {
  header {
    margin-top: v.$nav-height;

    .header-content {
      width: 90%;
      }
    }
  }
