@use "variables" as v;
@mixin center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  }

@mixin bg-position($url) {
  background-image: $url;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  }

@mixin corners($y, $x, $rotate) {
  content: '';
  display: block;
  position: absolute;
  #{$y}: -20px;
  #{$x}: -20px;
  width: 20px;
  height: 20px;
  border-right: 2px solid v.$white;
  border-top: 2px solid v.$white;
  transition: .5s;
  transform: rotate($rotate);
  }
