@use 'variables' as v;
@use 'mixin' as m;

nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: v.$nav-height;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  z-index: 1;

  .mobile-nav {
    .name {
      margin-left: 50px;
      font: 500 25px v.$dancing-font;
      color: v.$grey;
      text-decoration: none;
      }

    .fa-bars {
      display: none;
      }
    }

  .links-container {
    display: flex;

    .link {
      position: relative;
      display: flex;
      align-items: center;
      padding: 0 20px;
      font: 20px v.$raleway-font;
      color: v.$grey;
      text-transform: uppercase;
      text-decoration: none;

      .anchor {
        position: relative;

        &:after {
          transition: .2s;
          content: '';
          height: 3px;
          background-color: v.$main-color;
          bottom: -8px;
          position: absolute;
          left: 50%;
          right: 50%;
          }

        &.active:after {
          left: 0;
          right: 0;
          }
        }

      &:hover {
        .anchor {
          &:after {
            left: 0;
            right: 0;
            }
          }
        }
      }
    }
  }

@media (max-width: 768px) {
  nav {
    position: fixed;
    z-index: 2;
    flex-direction: column;
    height: auto;

    .mobile-nav {
      z-index: 2;
      background-color: white;
      height: v.$mobile-nav-height;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .fa-bars {
        margin: 10px 30px;
        font-size: 50px;
        display: block;
        color: v.$light-grey;
        cursor: pointer;
        }
      }

    .hide-links-container {
      transform: translateY(-100%);
      z-index: -1;
      }

    .links-container {
      z-index: 1;
      transition: .3s ease-in;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      position: absolute;
      width: 100%;
      height: 30vh;
      background-color: white;
      top: 100%;
      left: 0;
      border: 1px solid #ebebeb;
      }
    }
  }
