$main-color: #d07c7c;
$white: #fff;
$light-grey: #848282;
$grey: #5a5957;

$dancing-font: 'Dancing Script', cursive;
$playfair-font: 'Playfair Display', serif;
$raleway-font: 'Raleway', sans-serif;

$nav-height: 80px;
$mobile-nav-height: 80px;
$footer-height: 150px;
