@use "mixin" as m;
@use "variables" as v;

footer {
  @include m.flex-center;
  flex-direction: column;
  color: v.$light-grey;
  font: 300 14px/24px v.$raleway-font;
  height: v.$footer-height;

  a {
    font-size: 30px;
    color: v.$light-grey;
    margin-bottom: 20px;
    transition: .2s;

    &:hover {
      color: v.$main-color;
      }
    }

  .name {
    font: 20px v.$dancing-font;
    color: black;
    }

  .copy {
    margin-top: 20px;
    }
  }
