@use "normalize.css";
@use "header";
@use "nav";
@use "footer";
@use 'variables' as v;
@use 'mixin' as m;

.content-wrapper {
  max-width: 1600px;
  margin: 0 auto;

  .description {
    padding: 20px 150px 0 150px;
    text-align: center;
    font: 16px/2 v.$raleway-font;
    color: v.$light-grey;
    }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
            "nature nature urban"
            "people wedding urban"
            "arch arch animal";
    gap: 20px 20px;
    padding: 50px 0;

    .photo {
      position: relative;
      @include m.flex-center;

      &.nature {
        grid-area: nature;
        }

      &.urban {
        grid-area: urban;
        }

      &.people {
        grid-area: people;
        }

      &.wedding {
        grid-area: wedding;
        }

      &.architecture {
        grid-area: arch;
        }

      &.animal {
        grid-area: animal;
        }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        }

      .photo-name {
        text-align: center;
        position: absolute;
        @include m.center;
        transition: 2s;

        &:before {
          @include m.corners(top, left, 270deg);
          }

        &:after {
          @include m.corners(top, right, 0);
          }

        span {
          display: block;
          }

        .name {
          position: relative;
          font: 400 30px v.$playfair-font;
          color: v.$white;
          text-transform: uppercase;
          text-shadow: 0 0 10px rgba(38, 38, 38, 1);

          &::after {
            content: '';
            display: block;
            height: 2px;
            width: 100%;
            background-color: v.$white;
            }
          }

        .beauty {
          padding-top: 10px;
          position: relative;
          font: 20px v.$raleway-font;
          color: v.$white;
          text-shadow: 0 0 10px rgba(38, 38, 38, 1);


          &:before {
            @include m.corners(bottom, left, 180deg);
            }

          &:after {
            @include m.corners(bottom, right, 90deg);
            }
          }
        }

      &:hover {
        .beauty {
          &::before {
            left: -50px;
            bottom: -50px;
            }

          &::after {
            right: -50px;
            bottom: -50px;
            }
          }

        .photo-name {
          &:before {
            top: -50px;
            left: -50px;
            }

          &:after {
            top: -50px;
            right: -50px;
            }
          }
        }
      }
    }

  .btn-container {
    @include m.flex-center;
    }

  .title.small-title {
    text-transform: none;

    &:after {
      width: 50px;
      left: calc(50% - 25px);
      }
    }

  .citation {
    box-sizing: border-box;
    width: 50%;
    margin-bottom: 100px;
    padding: 40px;
    text-align: center;
    line-height: 2;
    color: v.$light-grey;
    font-family: v.$raleway-font;
    font-weight: 300;

    .words {
      font-size: 20px;
      }

    .author {
      font-size: 15px;
      }
    }

  .video {
    width: 100%;

    video {
      width: 100%;
      object-position: center;
      object-fit: cover;
      }
    }

  .socials {
    min-width: 50%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    @media (max-width: 540px) {
      width: 240px;
      flex-wrap: wrap;
      }

    .icon {
      box-sizing: border-box;
      margin: 50px 16px 0 16px;
      @include m.flex-center;
      height: 80px;
      width: 80px;
      border-radius: 50%;
      color: v.$light-grey;
      font-size: 50px;
      transition: .3s linear;
      cursor: pointer;

      &:hover {
        opacity: .7;
        color: v.$white;
        background-color: v.$main-color;
        border: 5px solid white;
        box-shadow: 0 0 0 1px v.$main-color;
        }
      }
    }

  .contact {
    @include m.bg-position(url(../assets/image/bg.png));
    padding: 0;

    .form {
      display: flex;
      flex-direction: column;
      font: 300 15px v.$raleway-font;
      color: v.$light-grey;
      width: 90vw;
      max-width: 600px;

      .message {
        text-align: center;
        margin-bottom: 50px;
        }

      input,
      textarea {
        margin-bottom: 20px;
        padding: 0 10px;
        line-height: 30px;
        }

      textarea {
        min-height: 150px;
        }

      .container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;

        .info {
          margin: 20px;
          line-height: 20px;
          text-align: center;
          }
        }
      }
    }
  }

.section-padding {
  padding-top: 100px;
  flex-direction: column;
  @include m.flex-center;
  }

.title {
  position: relative;
  text-align: center;
  margin-bottom: 70px;
  font: 30px v.$playfair-font;
  text-transform: uppercase;
  color: v.$grey;

  &:after {
    content: '';
    position: absolute;
    left: calc(50% - 50px);
    bottom: -15px;
    width: 100px;
    height: 4px;
    background-color: v.$main-color;
    border-radius: 5px;
    }
  }

.btn {
  position: relative;
  padding: 0 50px;
  height: 50px;
  font: 400 20px/50px v.$raleway-font;
  color: v.$white;
  border: 2px solid v.$main-color;
  background-color: transparent;
  text-transform: uppercase;
  transition: .5s;
  cursor: pointer;
  z-index: 1;

  &:focus {
    outline: none;
    }

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 46px;
    background-color: v.$main-color;
    transition: .5s;
    z-index: -1;
    }

  &:hover {
    color: v.$main-color;

    &:before {
      right: 100%;
      }
    }
  }

@media (max-width: 768px) {
  .description {
    padding: 20px 20px 0 20px;
    }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
            "nature urban"
            "people wedding"
            "arch animal";
    gap: 10px 10px;

    .photo img {
      height: calc(50vw - 5px);
      }

    .name {
      font-size: 24px;
      }

    .beauty {
      font-size: 16px;
      }
    }
  .citation {
    width: 90%;
    }
  .socials {
    .icon {
      font-size: 40px;
      height: 60px;
      width: 60px;
      }
    }
  }

@media (max-width: 541px) {
  .gallery {
    .name {
      font-size: 16px;
      }

    .beauty {
      font-size: 10px;
      }
    }
  }

@media (max-width: 361px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
            "nature"
				"urban"
            "people"
				"wedding"
            "arch"
				"animal";
    gap: 10px 0;


    .photo img {
      height: 100vw;
      }

    .name {
      font-size: 24px;
      }

    .beauty {
      font-size: 16px;
      }
    }
  #contact {
    .container {
      flex-direction: column;
      align-items: center;
      }
    }
  }
